*{
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 200px;
}

.header { 
    background-color: #ffb6b9;
}

.header_container{
    max-width: 1200px;
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container{
    display: flex;
    align-items: center;
    font-family: "Segoe IU", sans-serif;
    text-decoration: none;
} 

.logo_tipo {
    width: 20%;
} 

.navbar{
    font-size: 30px;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    
}

.navbar_link{
    font-size: 20px;
    font-family: "Segoe IU", sans-serif;
    background-color: #fae3d9;
    border: solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

.navbar li a {
    text-decoration: none;
}

.carrito{
    width: 3rem;
    color: #4e4c4a;
}

.valor_carrito {
    text-decoration: none;
}

.cartWidget{
    display: flex;
    align-items: center;
}

.conjunto_articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.articulo {
    max-width: 550px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
    border: 1px solid #000;
    background-color: #bbded6;
}

.articulo_img {
    width: 50%;
} 

.articulo_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    font-family: "Segoe IU", sans-serif;
    font-size: 20px;
}

.titulo_art{
    font-size: x-large;
    text-decoration: underline;
}

.texto_art{
    text-justify: distribute-all-lines;
}

.precio_art{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.mas_art{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    text-decoration: none;
}

.stock {
    opacity: 0.5;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.footer {
    background-color: #61c0bf;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    }


.address_container{
    color: black;
    font-weight: bold;
    font-family: "Segoe IU", sans-serif;
    text-align: center;
    padding: 10px;
}

.counter {
    display: flex;
    justify-content: space-around;
}

.btn_sumar {
    padding: 5px;
    font-size: 20px;
    background-color:#fae3d9;
    border: 1px solid #000;
    border-radius: 5px;
}

.btn_restar {
    padding: 5px;
    font-size: 20px ;
    background-color:#fae3d9;
    border: 1px solid #000;
    border-radius: 5px;
}
.btn_agregar_carrito {
    padding: 5px;
    font-size: 15px;
    background-color:#fae3d9;
    border: 1px solid #000;
    border-radius: 5px;
}

.error_ruta{
    
    text-align: center;
    margin-top: 250px;
    margin-left: 90px;
    
    
}

.articulo_detalle{
    max-width: 550px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
    border: 1px solid #000;
    background-color: #bbded6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.iria_carrito{
    text-align: center;
    margin-top: 250px;
    margin-left: 90px;
}